<?xml version="1.0" encoding="utf-8"?>
<configuration>

 <appSettings>
	<add key="CertificatePath" value="/" />
	<add key="CertificatePassword" value="" />
	<add key="ServerType" value="Internal" />
	<add key="ServerPort" value="8005" />
	<add key="TurnServer" value="turn:104.199.139.87:3478" />
	<add key="TurnServerUsername" value="805526267-1451543073" />
	<add key="TurnServerPassword" value="94bf431da305f1a6630374437a9b1939" />
</appSettings>

</configuration>
